body {
    background-color: burlywood;   /* background-color: burlywood; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1,h2,p {
    text-align: center;
}

#menu {
  width: 300px;
}